### Practical No 6 Yash Kadam 65

#### Connecting Database

In [3]:
import sqlite3

connection = sqlite3.connect('./genericDatabase.db')
cursor = connection.cursor();

#### Creating Table

In [4]:
cursor.execute('''Create table students(
               id Integer primary key autoincrement,
               name text not null,
               age integer not null
               )''')
connection.commit()

### CRUD Operation

#### Create (Insertion)

In [5]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

#### Read (Retrive)

In [6]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)
read_students()

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 22)

#### Delete

In [7]:
def delete_student(student_id):
    cursor.execute('''
          Delete from students where id=?
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(2)  # Deleting Bob's record
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 20)

#### Closing the database connection

In [8]:
connection.close();